BasedOnStyle: webkit
IndentWidth: 8
BreakBeforeBraces: Allman
UseTab: Always
AllowShortIfStatementsOnASingleLine: false
IndentCaseLabels: false
ColumnLimit: 80
AlignTrailingComments: true
SpaceAfterCStyleCast: true
IncludeBlocks: Preserve
AlignConsecutiveMacros: true
AllowShortBlocksOnASingleLine: false
AllowShortFunctionsOnASingleLine: false
AlwaysBreakAfterReturnType: All
BinPackArguments: true
BinPackParameters: true
PointerAlignment: Right
